:root {
    --theme: #fbf1c7;
    --entry: #ebdbb2;
    --primary: #282828;
    --secondary: #504945;
    --tertiary: #d5c4a1;
    --content: #3c3836;
    --hljs-bg: #1d2021;
    --code-bg: #ebdbb2;
    --border: #d5c4a1;
}

.dark {
    --theme: #1d2021;
    --entry: #282828;
    --primary: #ebdbb2;
    --secondary: #a89984;
    --tertiary: #504945;
    --content: #d5c4a1;
    --hljs-bg: #141617;
    --code-bg: #282828;
    --border: #3c3836;
}
