<div class="book-wrapper">
    <div class="book">
      <div class="book-cover-left"></div>
      <div class="book-pages"></div>
      <div class="book-cover-right"></div>
    </div>
  </div>

<div class="star-field">
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <div class="falling-star"></div>
    <!-- Duplicate as many as you'd like -->
  </div>