<div class="profile-wrapper">
    <img src="https://m.media-amazon.com/images/I/71zXjjYOFsL._AC_UF894,1000_QL80_.jpg" alt="Profile Picture" class="profile-img" id="profile-img">
    <div class="social-icons" id="social-icons">
      <a href="https://twitter.com/cyberwizardlabs" target="_blank"><i class="fab fa-x"></i></a>
      <a href="https://github.com/captainstinkrat" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://infosec.exchange/@cyberwizardlabs" target="_blank" class="mastodon"><i class="fab fa-mastodon"></i></a>
    </div>
  </div>