<script async src="https://www.googletagmanager.com/gtag/js?id=G-FG6B19DPJR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-FG6B19DPJR');
</script>
<link href="https://fonts.googleapis.com/css2?family=Victor+Mono&family=Cinzel+Decorative:wght@400;700&display=swap" rel="stylesheet">
<meta name="fediverse:creator" content="@cyberwizardlabs@infosec.exchange">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
